$red:#e7141a;
$black:#333;
$fontcolor:#137584;
$bgcolor:#f2fefe;
$green:#8cd1c2;
$rice:#fdddbc;
$white:#fff;
$border:#66afe9;
$silver:#838383;
$width:1090px;
$lgtitle:18px;
$title:16px;
$normal:12px;
$small:12px;
